nelmio_api_doc:
  documentation:
    info:
      title: Survey API
      description: API for managing surveys, questions
      version: 1.0.0
    components:
      securitySchemes:
        Bearer:
          type: http
          scheme: bearer
          bearerFormat: JWT
    security:
      - Bearer: [ ]
  areas:
    path_patterns:
      - ^/api(?!/doc$)
